#AdminPage {
  background-color: #141414;
  min-height: calc(100vh);
  .titles {
    margin: $spacing-medium 0 0;
    padding-top: 85px;
    min-height: calc(100vh - 160px);
    color: #141414;
    &:first-child {
      margin-top: 50px;
      padding-top: 3rem;
    }
    h3 {
      color: $lightGreyColor;
      font-size: 12px;
      margin: 0 4% $spacing-xsmall;
      font-weight: normal;
      float: left;
      & + button {
        display: block;
        float: right;
        margin-right: 4%;
        background-color: $redColor;
        height: 25px;
        border-radius: 3px;
        border: 0;
        color: $whiteColor;
        font-size: 12px;
        padding: 0 10px;
        margin-bottom: $spacing-small;
      }
    }
    .titles-list {
      display: flex;
      margin: 0 4% 1rem;
      gap: $spacing-xsmall;
      overflow-x: hidden;
      border-bottom: solid 1px rgba(0, 0, 0, 0.8);
      padding-bottom: $spacing-medium;
      .fa-chevron-left,
      .fa-chevron-right {
        padding-top: 27px;
      }
      &::-webkit-scrollbar {
        height: 10px;
      }
      &::-webkit-scrollbar-track {
        background: $darkGreyColor;
      }
      &::-webkit-scrollbar-thumb {
        background: $redColor;
        border-radius: 10px;
      }
      .hover-card {
        display: none;
      }
      img {
        height: 130px;
        width: 230px;
        object-fit: cover;
        cursor: pointer;
      }
      article {
        position: relative;
      }
    }
  }
  .actions {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    button {
      background-color: rgba(109, 109, 110, 1);
      border-radius: 3px;
      color: $whiteColor;
      border: 0;
      padding: 10px;
      box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
      margin-left: 10px;
      width: 40px;
      font-size: 14px;
      &:last-child {
        background-color: $redColor;
        border-radius: 3px;
        color: $whiteColor;
      }
    }
  }
}

#root:has(#AdminPage) + #portal {
  .add-season {
    display: block;
    background-color: $redColor;
    height: 40px;
    border-radius: 3px;
    border: 0;
    color: #fff;
    padding: 0 10px;
  }
  .episodes article div p {
    width: 60%;
  }

  .actions {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    button {
      background-color: rgba(109, 109, 110, 1);
      border-radius: 3px;
      color: $whiteColor;
      border: 0;
      padding: 10px;
      box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
      margin-left: 10px;
      width: 40px;
      font-size: 14px;
      &:last-child {
        background-color: $redColor;
        border-radius: 3px;
        color: $whiteColor;
      }
    }
  }
}
#root:has(#AdminPage) + #portal {
  .seasons h3 + button {
    display: inline;
    background-color: rgb(109, 109, 110);
    border-radius: 3px;
    color: #fff;
    border: 0;
    padding: 10px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
    margin-left: 15px;
    width: 40px;
    font-size: 14px;
    margin-top: -4px;
  }
}
@media (min-width: 740px) {
  #AdminPage {
    .titles {
      h3 {
        font-size: 18px;
      }
    }
  }
  #root:has(#AdminPage) + #portal {
    .episodes article div p {
      width: 80%;
    }
  }
}
