.auth-page {
  background-color: #000;
  min-height: calc(100vh);
  section.container {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    margin: 20px auto 50px;
    min-height: calc(100vh - 120px);
    padding: 0 5%;
    color: #b3b3b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      color: $whiteColor;
      margin-bottom: 28px;
    }
    .primary-btn {
      margin: 24px 0 12px;
    }
    form {
      display: flex;
      flex-direction: column;
      label {
        color: #8c8c8c;
        position: relative;
        margin-bottom: $spacing-small;
        span {
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 16px;
          transition: font 0.1s ease, top 0.1s ease, transform 0.1s ease;
        }
        input[type="email"],
        input[type="password"] {
          background: #333;
          border: 0;
          height: 50px;
          line-height: 50px;
          border-radius: 4px;
          color: $whiteColor;
          padding: 16px 20px 0;
          width: 100%;
          &:-webkit-autofill + span {
            top: 7px;
            color: $blackColor;
            font-size: 11px;
            transform: translateY(0);
          }
          &:focus + span {
            top: 7px;
            font-size: 11px;
            transform: translateY(0);
          }
          &:focus {
            outline: none;
          }
        }
      }
      .remember-me {
        font-size: 13px;
        font-weight: 400;
        float: left;
        input {
          float: left;
          margin: 2px 5px 0 0;
        }
        & + a {
          float: right;
          font-size: 13px;
          color: inherit;
        }
      }
    }
    .links-container {
      margin-top: $spacing-large;
      color: #737373;
      a {
        color: $whiteColor;
        font-size: 16px;
      }
    }
    p {
      font-size: 13px;
      margin: $spacing-small 0;
    }
  }
  &.signup {
    background: $whiteColor;
    #AuthNavbar {
      border-bottom: 1px solid #e6e6e6;
      background: transparent;
    }
    section.container {
      background: $whiteColor;
      padding: $spacing-medium;
      color: #333;
      h1 {
        color: #333;
        margin-bottom: $spacing-small;
      }
      p {
        font-size: 18px;
        margin: 0 0 10px;
      }
      form {
        input[type="email"],
        input[type="password"] {
          height: 60px;
          border: 1px solid #8c8c8c;
          border-radius: 0;
          background-color: $whiteColor;
          color: $blackColor;
          &:-webkit-autofill + span,
          &:focus + span {
            font-weight: bold;
            font-size: 13px;
          }
        }
        & + a {
          position: absolute;
          top: 14px;
          right: 3%;
          color: inherit;
          font-size: 14px;
          font-weight: bold;
        }
      }
      .primary-btn {
        border-radius: 4px;
        font-size: 24px;
        font-weight: 400;
        min-height: 64px;
      }
    }
  }
}

@media (min-width: 740px) {
  .auth-page {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../../assets/images/auth-bg.jpg") 50% no-repeat;
    background-size: auto;
    background-position: inherit;
    section.container {
      max-width: 450px;
      padding: 60px 68px 40px;
      margin: 0 auto 90px;
    }
    &.signup {
      background: $whiteColor;
      section.container {
        padding: 60px 0;
        form {
          & + a {
            top: 30px;
            font-size: 19px;
          }
        }
      }
    }
  }
}
