#LandingPage {
  background-color: #161b18;
  min-height: calc(100vh);
  .titles-container {
    margin: $spacing-medium 0;
    h3 {
      color: $lightGreyColor;
      font-size: 12px;
      margin: 0 4% $spacing-xsmall;
      font-weight: normal;
    }
    .titles-list {
      display: flex;
      margin: 0 4% 2rem;
      gap: $spacing-xsmall;
      overflow: auto;
      &::-webkit-scrollbar {
        height: 5px;
      }
      &::-webkit-scrollbar-track {
        background: $darkGreyColor;
      }
      &::-webkit-scrollbar-thumb {
        background: $redColor;
        border-radius: 10px;
      }
      img {
        height: 130px;
        width: 230px;
        object-fit: cover;
      }
    }
  }
  .top10-container {
    padding: 0 0 $spacing-medium 0;
    h3 {
      color: $lightGreyColor;
      font-size: 12px;
      margin: 0 4% $spacing-xsmall;
      font-weight: normal;
    }
    ol {
      list-style: none;
      counter-reset: item;
      display: flex;
      overflow-x: auto;
      padding: 0 0 0 $spacing-medium;
      height: 170px;
      margin: 0 4%;
      &::-webkit-scrollbar {
        height: 5px;
      }
      &::-webkit-scrollbar-track {
        background: $darkGreyColor;
      }
      &::-webkit-scrollbar-thumb {
        background: $redColor;
        border-radius: 10px;
      }
      li {
        counter-increment: item;
        margin-bottom: 5px;
        position: relative;
        margin-right: $spacing-medium;
        &::before {
          content: counter(item);
          color: #161b18;
          font-size: 160px;
          position: absolute;
          font-family: fantasy;
          display: inline-block;
          top: -31px;
          -webkit-text-stroke: 3px #595959;
          text-shadow: 1px 1px 0 #595959;
          z-index: 0;
        }
        img {
          height: 135px;
          width: 96px;
          object-fit: cover;
          margin-left: 55px;
          position: inherit;
        }
      }
    }
  }
  #Hero {
    height: 100%;
    position: relative;
    width: 100%;
    & + .titles-container {
      margin-top: -50px;
      z-index: 1;
      position: relative;
    }
    .background {
      background: rgb(22, 27, 24);
      background: linear-gradient(
        0deg,
        rgba(22, 27, 24, 1) 0%,
        rgba(255, 255, 255, 0) 37%
      );
      height: 100%;
      position: absolute;
      width: 100%;
    }
    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
    .details {
      position: absolute;
      top: 40%;
      left: 4%;
      p {
        font-size: 10px;
        color: $whiteColor;
        font-weight: bold;
        margin-bottom: $spacing-small;
        width: 36%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
      }
      img {
        width: 36%;
        display: block;
        margin-bottom: $spacing-small;
      }
      button,
      a {
        float: left;
        margin-right: 10px;
        font-size: 16px;
      }
    }
  }
}
@media (min-width: 740px) {
  #LandingPage {
    .top10-container {
      h3 {
        font-size: 18px;
      }
    }
    .titles-container {
      h3 {
        font-size: 18px;
      }
    }
  }
}
