#LandingPage,
#MoviesPage,
#SeriesPage,
#DocPage {
  background-color: #141414;
  min-height: calc(100vh);
  .titles {
    margin: $spacing-medium 0;
    min-height: calc(100vh - 180px);
    position: relative;
    h3 {
      color: $lightGreyColor;
      font-size: 12px;
      margin: 0 4% $spacing-xsmall;
      font-weight: normal;
      & + button {
        display: none;
      }
    }
    .titles-list {
      display: flex;
      margin: 0 4% 2rem;
      gap: $spacing-xsmall;
      position: relative;
      flex-wrap: wrap;
      article {
        transition: all 0.2s ease-in-out;
      }
      &::-webkit-scrollbar {
        height: 10px;
      }
      &::-webkit-scrollbar-track {
        background: $darkGreyColor;
      }
      &::-webkit-scrollbar-thumb {
        background: $redColor;
        border-radius: 10px;
      }
      .hover-card {
        display: none;
      }
      article:hover {
        transform: scale(1.5);
        box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
        border-radius: 5px;
        z-index: 11;
        height: 130px;
        width: 230px;
        &:first-child {
          padding-left: 30px;
        }
        & > img {
          width: 230px;
          height: 0;
        }
        img {
          object-fit: cover;
        }
        .hover-card {
          background: #181818;
          color: $whiteColor;
          display: block;
          position: absolute;
          width: 100%;
          top: 0;
          box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          & > img:first-child {
            width: 100%;
            height: 120px;
            object-fit: cover;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            & + img {
              position: absolute;
              top: 80px;
              left: 15px;
              height: 30px;
              width: 75px;
              object-fit: contain;
              object-position: left;
            }
          }
          .card-details {
            padding: $spacing-xsmall $spacing-xsmall $spacing-small;
            .play-btn {
              background-color: $whiteColor;
              color: #000;
              height: 25px;
              width: 25px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 0;
              float: left;
            }
            .info-btn {
              background-color: #232323;
              color: #d6d6d6;
              height: 25px;
              width: 25px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              border: solid 2px #919191;
              float: right;
            }
            .card-more-details {
              display: inline-block;
              width: 100%;
              padding-top: 10px;
              span {
                display: inline-block;
                margin: 0 10px 5px 0;
                font-size: 11px;
                &:first-child {
                  color: #46d369;
                  font-weight: 600;
                }
              }
              p {
                font-size: 10px;
              }
            }
          }
        }
      }
      img {
        height: 130px;
        width: 230px;
        object-fit: cover;
      }
    }
  }
  .actions {
    display: none;
  }
  .top10-container {
    padding: 0 0 $spacing-medium 0;
    h3 {
      color: $lightGreyColor;
      font-size: 12px;
      margin: 0 4% $spacing-xsmall;
      font-weight: normal;
    }
    ol {
      list-style: none;
      counter-reset: item;
      display: flex;
      height: 170px;
      margin: 0 4%;
      position: relative;
      overflow: hidden;
      scroll-behavior: smooth;
      .fa-chevron-left {
        color: #fff;
        transform: scale(1.5);
        position: sticky;
        top: 60px;
        left: 4px;
        z-index: 1;
        height: 100px;
        cursor: pointer;
        &::before {
          text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
        }
      }
      .fa-chevron-right {
        color: #fff;
        transform: scale(1.5);
        position: sticky;
        top: 60px;
        right: 20px;
        z-index: 1;
        height: 100px;
        cursor: pointer;
        &::before {
          text-shadow: -1px 2px 7px rgba(0, 0, 0, 0.4);
        }
      }
      &::-webkit-scrollbar {
        height: 5px;
      }
      &::-webkit-scrollbar-track {
        background: $darkGreyColor;
      }
      &::-webkit-scrollbar-thumb {
        background: $redColor;
        border-radius: 10px;
      }
      li {
        counter-increment: item;
        margin-bottom: 5px;
        position: relative;
        margin-right: $spacing-medium;
        &:last-of-type img {
          margin-left: 110px;
        }
        &:first-of-type {
          margin-left: $spacing-medium;
        }
        &::before {
          content: counter(item);
          color: #000;
          font-size: 160px;
          position: absolute;
          font-family: fantasy;
          display: inline-block;
          top: -31px;
          -webkit-text-stroke: 3px #595959;
          text-shadow: 1px 1px 0 #595959;
          z-index: 0;
        }
        img {
          height: 135px;
          width: 96px;
          object-fit: cover;
          margin-left: 55px;
          position: inherit;
        }
      }
    }
  }
  #Hero {
    height: 100%;
    position: relative;
    width: 100%;
    & + .titles {
      margin-top: -50px;
      z-index: 1;
      position: relative;
    }
    .background {
      background: rgb(22, 27, 24);
      background: linear-gradient(
        0deg,
        rgba(22, 27, 24, 1) 0%,
        rgba(255, 255, 255, 0) 37%
      );
      height: 100%;
      position: absolute;
      width: 100%;
    }
    img {
      height: inherit;
      width: inherit;
      object-fit: cover;
    }
    .details {
      position: absolute;
      bottom: 10%;
      left: 4%;
      p {
        font-size: 10px;
        color: $whiteColor;
        font-weight: bold;
        margin-bottom: $spacing-small;
        width: 95%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
      }
      img {
        width: 300px;
        display: block;
        margin-bottom: 16px;
        height: 65px;
        object-fit: contain;
        object-position: left bottom;
      }
      button,
      a {
        float: left;
        margin-right: 10px;
        font-size: 16px;
      }
    }
  }
}

#MoviesPage .titles,
#SeriesPage .titles,
#DocPage .titles {
  padding-top: 85px;
  margin: 24px 0 0 !important;
  color: #161b18;
}

.no-results {
  width: 100%;
  padding: $spacing-large 0;
  text-align: center;
  color: $whiteColor;
  img {
    width: 200px;
    margin: $spacing-medium auto;
  }
  p {
    font-size: 18px;
    font-weight: 600;
  }
}

#root:has(#LandingPage) + #portal {
  .add-season {
    display: none;
  }
}
@media (min-width: 740px) {
  #LandingPage,
  #MoviesPage {
    #Hero {
      .details {
        bottom: 12%;
        p {
          width: 36%;
        }
      }
    }
    .top10-container {
      h3 {
        font-size: 18px;
      }
    }
    .titles {
      margin: -24px 0 $spacing-medium;
      h3 {
        font-size: 18px;
      }
    }
  }
}
