// Main Colors
$redColor: #e50914;
$greyColor: #6d6d6e;
$whiteColor: #fff;
$darkGreyColor: #141414;
$lightGreyColor: #e5e5e5;
$blackColor: #000;

//Main spacing styles
$spacing-xsmall: 8px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 32px;
$spacing-xlarge: 46px;
